.head-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding-top: 10%;
}

.header-image {
    width: auto;
    transition: max-width 1.5s, min-width 1.5s;
}

.header-image-expanded {
    min-width: 230px;
    max-width: 400px;
}

.header-image-contracted {
    max-width: 100px;
    min-width: 60px;
}

.header-text {
    font-family: "Hachi Maru Pop", cursive;
    margin: 5px 0px 15px 0px;
    transition: font-size 1.5s;
}

.header-text-expanded {
    font-size: 50px;
}

.header-text-contracted {
    font-size: 18px;
}
